# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

docs/*  @fische

/apps/ @fische
/apps/thing/ @goddenrich
/apps/thing/folder/ @birkalo  

# It appears that if someone is referenced who isn't in the org, noone is added as an automatic reviewer. 
# ^ same for if the owner raises the PR themselves.
